html,
body,
header,
.jarallax {
  height: 100%;
  min-height: 100%;
}
.text-shadow {
  text-shadow: black 0 0 5px;
}

@media (max-width: 450px) {

  html,
  body,
  header,
  .jarallax {
    height: 700px;
    min-height: 700px;
  }
}

@media (min-width: 451px) and (max-width: 740px) {

  html,
  body,
  header,
  .jarallax {
    height: 500px;
    min-height: 500px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  header,
  .jarallax {
    height: 550px;
    min-height: 550px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

.copyright-text {
  font-size: 10px;
}

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}

.carousel-multi-item-2 .card img {
  border-radius: 2px;
}

.map-container {
  overflow: hidden;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}